*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: center;
  flex-direction: column;
  align-items: center;
}

.form{
  margin: 4rem 32rem 2rem 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border : 3px solid black; 
  border-radius: 10px;
  padding: 5px;
  
}

.data_val{
  margin: 0rem 32rem 10rem 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border : 3px solid black; 
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  
}

input{
  margin: 10px;
  height: 30px;
  width: 70%;
  border-radius: 10px;
  font-size: 15px;
}

input:hover{
  box-shadow: 1px 1px 5px black;
}

button{
  margin: 10px;
  height: 30px;
  width: 20%;
  border-radius: 10px;
  font-size: 15px;
  background-color: black;
  color: white;
}
